* {
    margin: 0px
}

body {
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.container {
    width: 800px;
    margin: 10% auto;

}

.registration-section {
    background: #d6d6d69e;
    padding: 25px;
    border-radius: 30px;
}

.registration-section h1 {
    text-transform: uppercase;
    text-align: center;
    color: #1b272d;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Trispace', sans-serif;
}

.registration-section p {
    text-align: center;
    color: #1b272d;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trispace', sans-serif;
}

.form-section {
    padding-top: 50px;
}

.form-section h2 {
    font-weight: bold;
    font-family: 'Trispace', sans-serif;
}

.form-control {
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
}

.reg-btn {
    background-color: #4e7ab5;
    border: none;
    color: white;
    margin: 0 auto;
    margin-top: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.10s ease-in-out;
    -webkit-transition-duration: 0.10s ease-in-out;
    -moz-transition-duration: 0.10s ease-in-out;
}

.reg-btn:hover {
    box-shadow: 0 10px 12px 0;
    cursor: pointer;
}

.log-res-btn {
    margin-top: 40px;
    margin-bottom: 10px;
}

.log-btn {
    background-color: #4e7ab5;
    border: none;
    color: white;
    margin: 0 auto;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.res-btn {
    background-color: #4e7ab5;
    border: none;
    color: white;
    margin-left: 498px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}